body{background-image: linear-gradient( to right,rgb(4, 155, 122),rgb(78, 248, 234));}
div.hd{height: 650px; width: 500px;background-color: white;margin: auto;margin-top: 50px;padding-top: 10px;}
h1{text-align: center;}
div.hrl{height: 2px; width: 100px; background-image: linear-gradient( to right,rgb(4, 155, 122),rgb(78, 248, 234));margin: auto;}
div.hr2{ height: 2px; width: 250px; background-image: linear-gradient( to right,rgb(4, 155, 122),rgb(78, 248, 234));margin: auto;}
#name{width: 80%; padding: 7px;margin-top: 25px;border: 1px solid rgb(4, 155, 122);}
#age{width: 80%; padding: 7px;margin-top:25px;border: 1px solid rgb(4, 155, 122);}
#gender{width: 80%; padding: 7px;margin-top:25px;border: 1px solid rgb(4, 155, 122);}
#email{width: 80%; padding: 7px;margin-top:25px;border: 1px solid rgb(4, 155, 122);}
#contact{width: 80%; padding: 7px;margin-top: 25px;border: 1px solid rgb(4, 155, 122);}
#btn{margin-top: 100px;  background-image:linear-gradient( to right,rgb(4, 155, 122),rgb(78, 248, 234));padding: 10px; padding-left: 25px; padding-right: 25px; border: none; border-radius: 20px}
#btn:hover{margin-top: 100px;  background-image:linear-gradient( to right,rgb(4, 155, 122),rgb(78, 248, 234));padding: 10px; padding-left: 25px; padding-right: 25px; border: none; border-radius: 20px;box-shadow: 5px 5px 30px 30px rgb(78, 248, 234);}
div.frm{;text-align: center;margin-top: 10%;}
p.msg{text-align: center; color: teal;}
